.about-me {
  background-color: #e9b74c;
  margin: auto;
  padding: 10px;
}

.about-me p {
  font-size: 1.3rem;
  text-align: center;
  margin: 0.5rem 10%;
  line-height: 2.5rem;
}
.action{
  color: #75471c;
  font-size: 1.5rem;
}