header {
  background-color: #e9b74c;
  color: #fff;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto;
  padding: 3rem;
  align-items: center;
  justify-items: center;
}

header img {
  grid-row-start: 1;
  grid-row-end: 3;
  width: 390px;
  height: 390px;
  border-radius: 90%;
}
header .r1 {
  grid-column-start: 2;
  grid-column-end: 4;
  font-size: 3rem;
  font-weight: 600;
  color: #8e5620;
  letter-spacing: 0.5rem;
}
header .r2 {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  font-weight: 400;
  font-size: 5rem;
}

.H-logo {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-bottom: 20px;
}
.H-logo a {
  align-items: center;
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  transition: color 0.3s;
  font-size: 60px;
  padding: 1rem;
}
.H-logo i {
  width: 60px;
  height: 60px;
}

.H-logo a:hover {
  color: #8e5620;
}
