.services {
  display: block;
  margin: auto;
  text-align: center;
}

.services .items-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: 3rem;
}

.items-container .item {
  margin: 20px;
  padding: 10px;
  background-color: #e6e6e6;
  height: 320px;
  width: 300px;
  border-radius: 10px;
}
.items-container .item h3 {
  font-size: 1.5rem;
  padding: 10px;
}

.s-icon {
  width: 150px;
  height: 150px;
  padding: 15px;
}
